td {
  border: 3px solid black;
  height: 9vw;
  width: 9vw;
  text-align: center;
  word-wrap: break-word;
  padding: 2px;
}

@media only screen and (max-width: 1000px) {
  td{
    height: 18vw;
    width: 19vw;
    font-size: 12px;
  }
}

