td {
  border: 3px solid black;
  height: 9vw;
  width: 9vw;
  text-align: center;
  word-wrap: break-word;
  padding: 2px;
  background-color: white;
  box-shadow: 7px 7px 5px grey;

}

@media only screen and (max-width: 1000px) {
  td{
    height: 18vw;
    width: 19vw;
    font-size: 12px;
  }
}

.freeSpace {
  background-color: rgb(27, 166, 78);
  font-size: large;
  color: white;
}