td {
  border: 3px solid black;
  height: 10vw;
  width: 10vw;
  text-align: center;
  word-wrap: break-word;
  padding: 12px;
}

@media only screen and (max-width: 1000px) {
  td{
    height: 15vw;
    width: 15vw;
  }
}

