
.add-item-container {
  box-shadow: 7px 7px 5px grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  height: 40vw;
  width: 25vw;
  background-color: white;
}

.add-item {
  width: 100%;
  padding: 5px;

}

@media only screen and (max-width: 1000px) {
  .add-item-container {
    height: 95vw;
    width: 90vw;
  }
}