.item-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  word-wrap: break-word;
}

.list-item {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* background-color:#d9d9d9; */
}

.itemXmark {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0px;
  background: none;
  border: none;
}

.itemXmark:after {
  content: '✖'; /* UTF-8 symbol */
}

@media only screen and (max-width: 1000px) {
  .list-item {
    font-size: 12px;
    height: 21px;
    margin: 1px;
    padding: 2px;
  }
}
