.item-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  word-wrap: break-word;
}

.list-item {
  margin: 2px;
  border-radius: 5px;
  display: flex;
}

.itemXmark {
  display: flex;
  margin-left: 2px;
  padding: 0px;
  background: none;
  border: none;
}

.itemXmark:after {
  content: '✖'; /* UTF-8 symbol */
}

@media only screen and (max-width: 1000px) {
  .list-item {
    font-size: 14px;
    height: 24px;
    margin: 2px;
    padding: 3px;
  }
}
